<div class="container">
    <h1 class="title">Como te podemos ayudar?</h1>
    <div class="search-container">
        <input type="text" class="search-field" placeholder="Search..." [(ngModel)]="searchTerm">
    </div>
    <div class="faq-section">
        <h2 class="subtitle">Preguntas frecuentes</h2>
        <ng-container *ngIf="filteredFaqs.length > 0">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let faq of filteredFaqs">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ faq.question }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="answer">{{ faq.answer }}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </div>
</div>