<footer class="footer">
  <div class="section">
    <h3>Artemania</h3>
    <p>Explota tu creatividad</p>
    <p>Contacto: 0991257913</p>
    <p>Email: artemania@gmail.com</p>
  </div>
  <div class="section">
    <h3>Nosotros</h3>
    <ul>
      <li><a routerLink="/about">Sobre nosotros</a></li>
      <li><a routerLink="/product">Catalogo</a></li>
      <li><a routerLink="/contact">Contactanos</a></li>
    </ul>
  </div>
  <div class="section">
    <h3>Informacion</h3>
    <ul>
      <li><a href="/helpcenter">Centro de ayuda</a></li>
      <li><a href="/payment">Metodos de pago</a></li>
    </ul>
  </div>
  <div class="section">
    <h3>Siguenos</h3>
    <div class="social-icons">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</footer>