<div class="about-us">
    <div class="container">
        <div class="about-us__text">
            <p class="about-us__title">Sobre nosotros</p>
            <p class="about-us__info">
                Creemos en el poder de la creatividad y la magia de las cosas hechas a mano. Desde nuestros inicios, hemos trabajado con pasión para ofrecer a nuestros clientes los mejores materiales y herramientas para dar vida a sus ideas.
            </p>
        </div>
        <p class="choose-us__title">Porque elegirnos</p>
        <div class="choose-us">
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />
                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />
                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />

                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />
                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="our-team">
            <p class="our-team__title">Nuestro equipo</p>
            <p class="our-team__info">
                Los que mantienen a flote artemania
            </p>
        </div>
        <div class="our-team__members">
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />
                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />

                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />

                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div>
                <div class="card-container">
                    <mat-card *ngFor="let us of chooseUs">
                        <img mat-card-image src="../../../assets/laptop.png" alt="Card image" />
                        <div class="choose-us__information">
                            <mat-card-header>
                                <mat-card-title class="card-container__title">{{
                                    us.title
                                    }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{ us.content }}
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>