<header class="navbar">
  <div class="navbar__left">
    <a routerLink="" class="navbar__title_a">
      <h1 class="navbar__title">Artemania</h1>
    </a>
  </div>
  <div class="navbar__middle">
    <div class="navbar__routes">
      <a routerLink="" class="navbar__link">Inicio</a>
      <a routerLink="/about" class="navbar__link">Sobre nosotros</a>
      <a routerLink="/product" class="navbar__link">Catalogo</a>
      <a routerLink="/contact" class="navbar__link">Contactanos</a>
    </div>
  </div>
  <div class="navbar__right">
    <a class="navbar__icon"><i class="fas fa-shopping-cart"></i></a>
  </div>
</header>